version: 2
updates:
  - package-ecosystem: "pip"
    directories:
      - "/requirements"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build"
    labels:
      - "dependencies:requirements"

  - package-ecosystem: "github-actions"
    directories:
      - "_release-pypi"
      - "release-github"
      # The following actions do not use non ansys-action but are added in case of future changes
      - "release-pypi-private" 
      - "release-pypi-public"
      - "release-pypi-test"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build(release)"
    labels:
      - "dependencies:ci"

  - package-ecosystem: "github-actions"
    directories:
      - "!(requirements)/**/*"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build"
    labels:
      - "dependencies:ci"
