---
title: Ansys Actions
format: cheat_sheet-pdf
version: {{ version }}
footer: Getting started with Ansys Actions
footerlinks:
  - urls: 'https://actions.docs.ansys.com/version/stable/'
    text: Ansys Actions documentation
  - urls: 'https://github.com/ansys/actions/'
    text: Ansys Actions GitHub
execute:
    # output: false
    eval: false

latex-clean: true
jupyter:
  jupytext:
    text_representation:
      extension: .qmd
      format_name: quarto
      format_version: '1.0'
      jupytext_version: 1.16.1
  kernelspec:
    display_name: Python 3 (ipykernel)
    language: python
    name: python3
---
{%- for action_name, action_data in actions.items() %}
# {{ action_name | capitalize }}
{% for example in action_data.examples_for_cheatsheet %}

**{{ example.title | capitalize }}**

```{python}
{{ example.code }}
```

{% if example.reference_url -%}
***Ref***: [{{ example.title }}]({{ example.reference_url }})
{% endif -%}
{% endfor -%}

{% endfor -%}
