name: night

on:
  schedule:
    - cron: '0 0 * * *'

env:
  MAIN_PYTHON_VERSION: '3.12'
  LIBRARY_NAME: 'ansys-actions-flit'
  DOCUMENTATION_CNAME: 'actions.docs.ansys.com'

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  doc-build:
    name: "Doc build"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/doc-build@main
        with:
          skip-install: true
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-python-cache: false
          needs-quarto: true

  doc-deploy-dev:
    name: "Deploy development documentation"
    runs-on: ubuntu-latest
    needs: [doc-build]
    permissions:
      contents: write # Needed to update files on the gh-pages branch
    steps:
      - uses: ansys/actions/doc-deploy-dev@main
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  test-build-wheelhouse-flit:
    name: "Test build-wheelhouse action using ansys-actions-flit package"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    permissions:
      id-token: write # Needed for provenance attestation
      contents: read
      attestations: write # Needed for provenance attestation
    steps:

      - name: "Build wheelhouse and perform smoke test for ${{ env.LIBRARY_NAME }} package"
        uses: ansys/actions/build-wheelhouse@main
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          working-directory: .ci/${{ env.LIBRARY_NAME }}
          attest-provenance: true

  test-build-library-flit:
    name: "Test build-library action using ansys-actions-flit package"
    runs-on: ubuntu-latest
    needs: test-build-wheelhouse-flit
    permissions:
      id-token: write # Needed for provenance attestation
      contents: read
      attestations: write # Needed for provenance attestation
    steps:

      - name: "Build library for ${{ env.LIBRARY_NAME }} package"
        uses: ansys/actions/build-library@main
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          attest-provenance: true
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          working-directory: .ci/${{ env.LIBRARY_NAME }}

  test-release-flit:
    name: "Test releasing ansys-actions-flit package using trusted publishing"
    runs-on: ubuntu-latest
    needs: test-build-library-flit
    if: success() || needs.test-build-library-flit.result == 'success'
    permissions:
      id-token: write # Needed for trusted publishing OIDC
      contents: read
    steps:

    - name: "Download distribution artifacts"
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ${{ env.LIBRARY_NAME }}-artifacts
        path: dist

    - name: "Upload artifacts to test PyPI using trusted publisher"
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        repository-url: "https://test.pypi.org/legacy/"
        print-hash: true
        skip-existing: true
        verbose: true