name: Test actions with flit-based projects
on:
  pull_request:
    types: [opened, reopened, synchronize, edited, labeled]

env:
  MAIN_PYTHON_VERSION: '3.12'
  DOCUMENTATION_CNAME: 'actions.docs.ansys.com'
  PIP_EXTRA_INDEX_URL: 'https://${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}@pkgs.dev.azure.com/pyansys/_packaging/pyansys/pypi/simple/'
  LIBRARY_NAME: ansys-actions-flit

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  check-environment-approval-flit:
    name: Check environment approval flit
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.block.outputs.environment }}
    steps:

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Decide which environment should be used
        id: block
        uses: ./check-environment-approval

  # NOTE: We do not allow dependabot to trigger the CI/CD pipeline automatically.
  # This is to mitigate supply chain attacks, where a malicious dependency update
  # could execute arbitrary code in our build environment.
  # Dependabot PRs must be reviewed carefully and approved manually before
  # running the CI.
  check-dependabot-pr-flit:
    name: Manual approval (on dependabot PRs) flit
    runs-on: ubuntu-latest
    needs: [check-environment-approval-flit]
    environment: ${{ needs.check-environment-approval-flit.outputs.environment }}
    steps:
      - name: Proceed after approval
        if: ${{ needs.check-environment-approval-flit.outputs.environment == 'dependabot'}}
        run: |
          echo "::notice::Workflow approved."
      - name: Approval skipped
        if: ${{ needs.check-environment-approval-flit.outputs.environment == ''}}
        run: |
          echo "::notice::Workflow approval skipped."

  test-build-wheelhouse-flit:
    name: "Test build-wheelhouse action using ansys-actions-flit package"
    runs-on: ${{ matrix.os }}
    needs: check-dependabot-pr-flit
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    permissions:
      id-token: write # Needed for provenance attestation
      contents: read
      attestations: write # Needed for provenance attestation
    steps:

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: "Build wheelhouse and perform smoke test for ${{ env.LIBRARY_NAME }} package"
        uses: ./build-wheelhouse
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          working-directory: .ci/${{ env.LIBRARY_NAME }}
          attest-provenance: true
          checkout: false

  test-build-library-flit:
    name: "Test build-library action using ansys-actions-flit package"
    runs-on: ubuntu-latest
    needs: test-build-wheelhouse-flit
    permissions:
      id-token: write # Needed for provenance attestation
      contents: read
      attestations: write  # Needed for provenance attestation
    steps:

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: "Build library for ${{ env.LIBRARY_NAME }} package"
        uses: ./build-library
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          attest-provenance: true
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          working-directory: .ci/${{ env.LIBRARY_NAME }}
          checkout: false

  test-release-flit:
    name: "Test releasing ansys-actions-flit package using trusted publishing"
    runs-on: ubuntu-latest
    needs: test-build-library-flit
    permissions:
      id-token: write # Needed for trusted publishing OIDC
      contents: read
    steps:

    - name: "Download distribution artifacts"
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ${{ env.LIBRARY_NAME }}-artifacts
        path: dist

    - name: "Upload artifacts to test PyPI using trusted publisher"
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        repository-url: "https://test.pypi.org/legacy/"
        print-hash: true
        skip-existing: true
        verbose: true

  test-build-wheelhouse-flit-projects:
    name: "Test build-wheelhouse action for ${{ matrix.repository.name }} project on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    needs: check-dependabot-pr-flit
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        repository:
          - name: pyansys-geometry
            library: ansys-geometry-core
          - name: pymapdl
            library: ansys-mapdl-core
          - name: pyfluent
            library: ansys-fluent-core
          - name: pymechanical
            library: ansys-mechanical-core
    permissions:
      id-token: write # Needed for provenance attestation
      contents: read
      attestations: write # Needed for provenance attestation
    steps:

      - name: "Install Git and clone ${{ matrix.repository.name }} repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          repository: ansys/${{ matrix.repository.name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Clone ansys/actions into a different path"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          path: actions

      - name: "Build wheelhouse and perform smoke test for ${{ matrix.repository.name }}"
        uses: ./actions/build-wheelhouse
        with:
          checkout: false
          library-name: ${{ matrix.repository.library }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          attest-provenance: true

  test-build-library-flit-projects:
    name: "Test build-library action for ${{ matrix.repository.name }} project"
    runs-on: ubuntu-latest
    needs: test-build-wheelhouse-flit-projects
    strategy:
      matrix:
        repository:
          - name: pyansys-geometry
            library: ansys-geometry-core
          - name: pymapdl
            library: ansys-mapdl-core
          - name: pyfluent
            library: ansys-fluent-core
          - name: pymechanical
            library: ansys-mechanical-core
    permissions:
      id-token: write # Needed for provenance attestation
      contents: read
      attestations: write # Needed for provenance attestation
    steps:

      - name: "Install Git and clone ${{ matrix.repository.name }} repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          repository: ansys/${{ matrix.repository.name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Clone ansys/actions into a different path"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          path: actions

      - name: "Build library for ${{ matrix.repository.name }}"
        uses: ./actions/build-library
        with:
          checkout: false
          library-name: ${{ matrix.repository.library }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          attest-provenance: true

  test-code-style-flit-projects:
    name: "Test code-style action for ${{ matrix.repository.name }} project"
    runs-on: ubuntu-latest
    needs: check-dependabot-pr-flit
    strategy:
      matrix:
        repository:
          - name: pyansys-geometry
            library: ansys-geometry-core
          - name: pyfluent
            library: ansys-fluent-core
          - name: pymechanical
            library: ansys-mechanical-core
    steps:

      - name: "Install Git and clone ${{ matrix.repository.name }} repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          repository: ansys/${{ matrix.repository.name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Clone ansys/actions into a different path"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          path: actions

      - name: "Run code style checks for ${{ matrix.repository.name }}"
        uses: ./actions/code-style
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-python-cache: false
          checkout: false

  test-doc-style-flit-projects:
    name: "Test doc-style action for ${{ matrix.repository.name }} project"
    runs-on: ubuntu-latest
    needs: check-dependabot-pr-flit
    strategy:
      matrix:
        repository:
          - name: pyansys-geometry
            library: ansys-geometry-core
          - name: pymapdl
            library: ansys-mapdl-core
          - name: pyfluent
            library: ansys-fluent-core
          - name: pymechanical
            library: ansys-mechanical-core
    steps:

      - name: "Install Git and clone ${{ matrix.repository.name }} repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          repository: ansys/${{ matrix.repository.name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Clone ansys/actions into a different path"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          path: actions

      - name: "Run doc style checks for ${{ matrix.repository.name }}"
        uses: ./actions/doc-style
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          checkout: false