name: GitHub CI
on:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - main

env:
  MAIN_PYTHON_VERSION: '3.10'
  CNAME: 'actions.docs.pyansys.com'
  test-library-name: 'pyansys-actions'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  label-syncer:
    name: Label syncer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: micnncim/action-label-syncer@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  labeler:
    name: Set labels
    needs: [label-syncer]
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:

    - name: Label based on changed files
      uses: actions/labeler@v4
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        sync-labels: ''

    - uses: actions-ecosystem/action-add-labels@v1
      if: |
        startsWith(github.event.pull_request.head.ref, 'doc') || 
        startsWith(github.event.pull_request.head.ref, 'docs')
      with:
        labels: documentation

    - uses: actions-ecosystem/action-add-labels@v1
      if: |
        startsWith(github.event.pull_request.head.ref, 'maint') ||
        startsWith(github.event.pull_request.head.ref, 'no-ci') ||
        startsWith(github.event.pull_request.head.ref, 'ci')
      with:
        labels: maintenance

    - uses: actions-ecosystem/action-add-labels@v1
      if: startsWith(github.event.pull_request.head.ref, 'feat')
      with:
        labels: |
          enhancement

    - uses: actions-ecosystem/action-add-labels@v1
      if: |
        startsWith(github.event.pull_request.head.ref, 'fix') ||
        startsWith(github.event.pull_request.head.ref, 'patch')
      with:
        labels: bug

  commenter:
    runs-on: ubuntu-latest
    needs: [label-syncer, labeler]
    steps:
    - name: Suggest to add labels
      uses: peter-evans/create-or-update-comment@v2
      if: toJSON(github.event.pull_request.labels.*.name) == '{}'
      with:
        issue-number: ${{ github.event.pull_request.number }}
        body: |
          Please add one of the following labels to add this contribution to the Release Notes :point_down:
          - [bug](https://github.com/pyansys/actions/pulls?q=label%3Abug+)
          - [documentation](https://github.com/pyansys/actions/pulls?q=label%3Adocumentation+)
          - [enhancement](https://github.com/pyansys/actions/pulls?q=label%3Aenhancement+)
          - [good first issue](https://github.com/pyansys/actions/pulls?q=label%3Agood+first+issue)
          - [maintenance](https://github.com/pyansys/actions/pulls?q=label%3Amaintenance+)
          - [release](https://github.com/pyansys/actions/pulls?q=label%3Arelease+)


  code-style:
    name: "Code style"
    runs-on: ubuntu-latest
    needs: commenter
    steps:
      - name: "Run code style checks"
        uses: pyansys/actions/code-style@main

  doc-style:
    name: "Doc style"
    runs-on: ubuntu-latest
    needs: commenter
    steps:
      - name: "Run documentation style checks"
        uses: pyansys/actions/doc-style@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  doc-build:
    name: "Building documentation"
    runs-on: ubuntu-latest
    needs: doc-style
    steps:
      - name: "Build documentation"
        uses: pyansys/actions/doc-build@main
        with:
          skip-install: true

  doc-deploy-dev:
    name: "Deploy developers documentation"
    runs-on: ubuntu-latest
    needs: doc-build
    steps:
      - name: "Deploy developers documentation"
        if: github.event_name == 'push'
        uses: pyansys/actions/doc-deploy-dev@main
        with:
            cname: ${{ env.CNAME }}
            token: ${{ secrets.GITHUB_TOKEN }}

  doc-deploy-stable:
    name: "Deploy stable documentation"
    runs-on: ubuntu-latest
    needs: doc-build
    steps:
      - name: "Deploy stable documentation"
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
        uses: pyansys/actions/doc-deploy-stable@main
        with:
            cname: ${{ env.CNAME }}
            token: ${{ secrets.GITHUB_TOKEN }}

  tests-build:
    name: "Test library build"
    runs-on: ubuntu-latest
    needs: code-style
    steps:

    - name: "Install Git and clone project"
      uses: actions/checkout@v3
  
    - name: "Set up Python"
      uses: actions/setup-python@v4.2.0
      with:
        python-version: ${{ inputs.python-version }}

    - name: "Isolate testing library"
      run: mv tests/${{ env.test-library-name }} ~/

    - name: "Install build and twine"
      shell: bash
      run: |
        python -m pip install build twine

    - name: "Build distribution artifacts and check their health"
      shell: bash
      run: |
        cd ~/${{ env.test-library-name }}
        ls -R && python -m build && python -m twine check dist/*

    - name: "Upload distribution artifacts to GitHub artifacts"
      uses: actions/upload-artifact@v3.1.0
      with:
        name: ${{ env.test-library-name }}-artifacts
        path: ~/${{ env.test-library-name }}/dist/
        retention-days: 7

  tests-release-pypi-test:
    name: "Test release to Test PyPI"
    runs-on: ubuntu-latest
    needs: tests-build
    steps:
    - name: "Release to the test PyPI repository"
      uses: pyansys/actions/release-pypi-test@main
      with:
        library-name: ${{ env.test-library-name }}
        twine-username: "__token__"
        twine-token: ${{ secrets.PYANSYS_PYPI_TEST_PAT }}
